* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.container {
  border-radius: 12px;
  padding: 14px 16px;
}

h1,
h2 {
  font-weight: bolder;
}

.title-red {
  color: #6c2222;
}

.home {
  padding: 4px 8px;
  border-radius: 40px;
}

.container-red,
.img-credit {
  background-color: #6c2222;
  color: white;
}

.home,
.container-gray {
  background-color: lightgray;
  color: black;
}

img {
  border-radius: 12px;
}

.img-credit {
  font-style: italic;
}

.flex-container {
  display: flex;
}

.flex-item {
  flex: 1;
}
