* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;

  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 10px;
}

a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

h1,
h2 {
  font-weight: bolder;
}

h2 {
  margin-bottom: 10px;
}

.flex-container {
  display: flex;
  gap: 30px;
}

.container {
  border-radius: 12px;
  padding: 14px 16px;
  width: fit-content;
}

.red {
  background-color: #6c2222;
  color: white;
}

.gray {
  background-color: lightgray;
  color: black;
}

.title-red {
  color: #6c2222;
}

.home {
  padding: 4px 8px;
  border-radius: 40px;
}

.img-credit {
  color: white;
  font-style: italic;
}

img {
  border-radius: 12px;
}
