html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 20px;
}

* {
  margin: 0;
}

.container {
  border-radius: 40px;
  font-weight: bold;
}

.header {
  background-color: #6c2222;
  color: white;

  font-size: 48px;

  padding: 50px 100px;
}

.recipes {
  background-color: lightgray;

  padding: 50px 45px;

  font-size: 30px;
  color: black;
}

.recipes-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a {
  color: black;
  text-decoration: none;
}
