body {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
}

.menu {
  margin: 100px 525px;
}

.header,
.recipes-list {
  border-radius: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.header {
  background-color: #6c2222;
  color: white;

  font-size: 48px;

  padding: 50px 100px;
}

.recipes-list {
  background-color: lightgray;

  padding: 50px 45px;

  font-size: 30px;
  color: black;
}

li {
  margin-bottom: 14px;
}

a {
  color: black;
  text-decoration: none;
}
