body {
  font-family: "Inter", sans-serif;
}

.menu {
  box-sizing: border-box;
  margin: 100px 525px;
  width: 680px;
  height: 525px;
}

.header,
.recipes-list {
  border-radius: 40px;
}

.header {
  background-color: #6c2222;
  color: white;

  font-size: 48px;
  font-weight: bold;

  padding: 50px 100px;
}

.recipes-list {
  background-color: lightgray;

  padding: 75px 45px;

  font-weight: 600;
  font-size: 30px;
  color: black;
}

li {
  margin-bottom: 10px;
}

a {
  color: black;
  text-decoration: none;
}
